/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


p {
  line-height: 25px;
}


h2{
margin:2px;
padding: 5px;

}

.header{
  font-size: 50px;
  font-weight: 400;
  color: #26a69a;
}


.results{
  font-size: 12px;
  color:black;
  margin: 5px;
  padding:5px;
}



.wideColumn{
    border: 1px solid #eee;
    margin: 5px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: tomato;
    color: white;
    padding: 0;
}

.halfColumn{
    border: 1px solid #26a69a;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: white;
    color: #26a69a;
    padding: 0;
}

.boxText{
  font-size: 12px;
  color:black;
  padding: 5px;

}


/*#container {
     position: absolute;
}*/

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#container div {
  padding:10px;
  margin: 30px; 
}

.div-1, .div-2 {
    border: 1px solid #26a69a;
    margin: 3px 0;
    text-align: center;
    line-height: 20px;
    font-size: 28px;
    background-color: white;
    color: #26a69a;
    width: 50%;
    padding: 10px;
    flex: 1 1 0;
}

.div-3 {
  align: center;
  border: 1px solid #26a69a;
  margin: 3px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: white;
  color: #26a69a;
  width: 90%;
  padding: 10px;
  flex: 100%; 
  order: 3;
}


.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
}

.wrapper {
   position: relative;
    padding: 50px;
}


.div { 
 padding: 2px;
 margin: 2px;
 max-width: 1000px;
}

.select-wrapper { 
    position: relative;
    padding: 2px !important;
}

.button{
  width: 60px;
  height: 30px;
  font-size: 12px;
  border-radius: 4px;
  background-color: white;
  color: #26a69a;


}

.input {
  width: 300px;
  height: 30px;
  font-size: 12px;

  }

/*.input-field {
  width: 300px;
  height: 30px;
  font-size: 12px;
  margi*/n: 5px;
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


.teal-text.text-lighten-2 {
  color: white !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-hamburger {
  position: relative;
  display: inline-block;
}

.dropdown-content-hamburger {
  background-color: #000000;
  margin: 0;
  display: none;
  min-width: 100px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height;
}

.brown-text {
  color: #26a69a !important; 
  position: top;
}

.float-left{
  float: left;
  width: 400px;
  margin: 0 0 10px 10px;
  clear: left;
  overflow: auto;

    }

.float-right{
  float: right;
  width: 400px;
  margin: 0 0 10px 10px;
  clear: left;
  overflow: auto;

    }

input[type=text], select {
/*    width: 80%;
    padding: 5px 5px;
    margin: 5px 0;
    display: relative;
    border: 1px solid #ccc;
    border-radius: 4px;*/
    box-sizing: border-box;
    font-size: 14px;
}

.row .col.s3 {
    width: 50%;
    margin-left: 5px;
    left: 5px;
    right: 5px;
  }

.row .col.s12 {
    width: 50%;
    margin-left: 5px;
    left: 5px;
    right: 5px;
}

input[type=submit] {
    width: 25%;
    background-color: #26a69a; 
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2bbbad;
}


.home-text {
  color: #26a69a !important;
}

footer {
/*  margin-top: 700px;*/
  position: center;
  max-width: 100%;

}
/*ul{
  position:relative;
  display: center;  
  list-style: none;
  width:100%;
  text-align: center;
  margin: auto;
}

li{
  list-style: none;
  text-align: inline-block;
  margin: 15px; 
  display: inline-block; 
}*/


/*.centered-search{
width:200px;
height:50px;
margin:auto;
position:absolute;
top:0;
bottom:0;
right:0;
left:0;       
}*/

/*div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}*/